<div class="mb-3 mt-3">
    <label for="mytitle">Title </label>
    <input type="text" class="form-control" id="mytitle" name="mytitle">
  </div>
  <div class="mb-3">
    <label for="msg">Message</label>
    <input type="text" class="form-control" id="msg" name="msg">
  </div>
  <div class="mb-3">
    <label for="win">Win 1st</label>
    <input type="text" class="form-control" id="win" name="win">
  </div>
  <div class="mb-3">
    <label for="wins">Win 2nd</label>
    <input type="text" class="form-control" id="wins" name="wins">
  </div>