<div class="row">
    <div class="col-sm-12">
      <form action="/action_page.php">
        <h1>Internal Info</h1>
        <div class="mb-3 mt-3">
          <label for="qname">Internal Quest Name </label>
          <input type="text" class="form-control" id="qname" name="qname">
        </div>
        <div class="mb-3">
          <label for="qdesc">Internal Quest Description</label>
          <input type="text" class="form-control" id="qdesc" name="qdesc">
        </div>
        <div class="mb-3">
          <label for="pawd">Points Awarded </label>
          <input type="text" class="form-control" id="pawd" name="pawd">
        </div>
        <h1>General Story</h1>
        <app-add-story-subgroup></app-add-story-subgroup>
        <h1>Empire Story</h1>
        <app-add-story-subgroup></app-add-story-subgroup>
        <h1>Federation Story</h1>
        <app-add-story-subgroup></app-add-story-subgroup>
        <h1>Union Story</h1>
        <app-add-story-subgroup></app-add-story-subgroup>
        <h1>Conclusion Story</h1>
        <app-add-story-subgroup></app-add-story-subgroup>
        <h1>Empire</h1>
        <app-add-buttons></app-add-buttons>
        <h1>Federation</h1>
        <app-add-buttons></app-add-buttons>
        <h1>Union</h1>
        <app-add-buttons></app-add-buttons>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>